*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: #faffeb;
    overflow-x: hidden;
}
.navbar-brand img{
    height: 50px;
    padding-left: 50px;
}
.navbar-toggler-icon {
    background-color: transparent !important;
  }
  
.navbar-toggler-icon i {
    color:#01a6dd !important; 
  }
  .navlink{
    color: white;
}
.navlink:hover{
    color: #01a6dd;
}
  
.informationcont a{
    padding: 7px 35px 7px 35px;
    border-radius: 10px;
}
main{
    padding: 150px 0px 180px 60px;
    background-image: url(../IMAGES/background-image\ resized.png);
    background-size: cover;
    background-position: center;
}
main h3{
    color: white;
    font-weight: bolder;
    font-size: 40px;
}
.section-one{
    padding: 50px 0px 10px 5%;
}
.right{
    padding-left: 25%;
}
.section-two{
    padding: 1% 5% 5% 5%;
}
.two-img{
    transform: translateX(100%);
    opacity: 0;
    transition: all 1.5s ease-out;
}
.slideInForSectionTwo{
    transform: translateX(0);
    opacity: 1;
}

.section-two .one p{
    padding-right: 50px;
}
.section-two .two img{
    border-radius: 15px;
}
article{
    padding:0px 5% 5% 5%;
}
.attributes{
    display: flex;
    justify-content: space-around;
    padding: 10% 20px 20px 20px;
}
.attributes div{
    padding: 20px;
}
.art-one img{
    width: 100%;
    height: auto;
}
.art-two{
    background-color: #01a6dd;
}

.section-three{
    padding: 1% 5% 5% 5%;
}
.section-three div{
    padding: 10px;
}
.sec-three-cont-left img{
    width: 100%;
    height:auto;
}
.sec-three-cont-right img{
    width: 70%;
    height: auto;
}
footer{
    background-color: #03141e;
}
.footer-nav span{
    padding-right: 30px;
}
.footer-nav a{
    text-decoration: none;
    color: white;
}
footer hr{
    color: white;
}

@media screen and (max-width:992px){
      main{
        padding: 125px 0px 140px 40px;
    }
    .section-one{
        padding-top: 30px;
    }
    .right{
        padding-left: 15%;
    }
    .section-two{
        padding-top: 40px;
    }
    .section-two .one p{
        padding-right: 25px;
    }
    .attributes{
       flex-direction: column;
        padding: 5% 10px 10px 10px;
    }
    .attributes div{
        padding: 10px;
    }
}
@media screen and (max-width:600px){
    .navbar-brand img{
        padding-left: 30px;
    }
    main{
        padding: 70px 0px 70px 30px;
    }
    .right{
        padding: 5% 0px 0px 0%;
    }
    .section-two{
        padding-top: 20px;
    }
    .sec-three-cont-right{
        text-align: center;
    }
}