*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: #faffeb;
}
.navbar-brand img{
    height: 50px;
    padding-left: 50px;
}
.navbar-toggler-icon {
    background-color: transparent !important;
  }
  
.navbar-toggler-icon i {
    color:#01a6dd !important; 
  }
  .navlink{
    color: white;
}
.navlink:hover{
    color: #01a6dd;
}
.informationcont a{
    padding: 7px 35px 7px 35px;
    border-radius: 10px;
}
main{
    padding: 150px 0px 180px 60px;
    background-image: url(../IMAGES/background-image\ resized.png);
    background-size: cover;
    background-position: center;
}
main h3{
    color: white;
    font-weight: bolder;
    font-size: 40px;
}
.section-one{
    padding: 80px;
}
.sec-one-child{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    padding-top: 20px;
}
.one img,
.two img{
    border-radius: 15px;
}
.right{
    padding-left: 5%;
}
.right ul{
    list-style-type: none;
}
.right a{
    text-decoration: none;
    color: black;
}
.right li{
    padding: 0px 0px 10px 5px;
}
.location,
.calender
{
    background-color: #c1dfea;
    color: #33b7e3;
    padding: 15px;
    border-radius: 100px;
}
.right h4{
    border: 2px solid black;
    padding: 5px 0px 10px 5px;
    border-radius: 10px;
}
.right ul{
    border: 2px solid black;
    padding: 5px 0px 40px 5px;
    border-radius: 10px;
}
footer{
    background-color: #03141e;
    margin-top: 50px;
}
.footer-nav span{
    padding-right: 30px;
}
.footer-nav a{
    text-decoration: none;
    color: white;
}
footer hr{
    color: white;
}

@media screen and (max-width:992px){
    main{
        padding: 125px 0px 140px 40px;
    }
    .section-one{
        padding: 40px;
    }
    .sec-one-child{
        grid-template-columns: 160px 180px 160px;
        padding-top: 10px;
    }
    .sec-one-child span{
        font-size: 13px;
    }
    .right{
        padding-left: 7%;
    }
    .location,
    .calender{
        padding: 10px;
    }
    .left h2{
        font-size: 20px;
    }

}

@media screen and (max-width:600px){
    .navbar-brand img{
        padding-left: 30px;
    }
    main{
        padding: 70px 0px 70px 30px;
    }
    main h3{
        font-size: 30px;
    }
    .section-one{
        padding: 50px 20px 20px 20px;
    }
    .sec-one-child{
        grid-template-columns: 120px 180px 160px;
    }
    .right{
        padding-left: 5px;
    }
}