*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: #faffeb;
}
.navbar-brand img{
    height: 50px;
    padding-left: 50px;
}
.navbar-toggler-icon {
    background-color: transparent !important;
  }
  
.navbar-toggler-icon i {
    color:#01a6dd !important; 
  }
  .navlink{
    color: white;
}
.navlink:hover{
    color: #01a6dd;
} 
.informationcont a{
    padding: 7px 35px 7px 35px;
    border-radius: 10px;
}
main{
    padding: 150px 0px 180px 60px;
    background-image: url(../IMAGES/background-image\ resized.png);
    background-size: cover;
    background-position: center;
}
main h3{
    color: white;
    font-weight: bolder;
    font-size: 40px;
}
form{
    display: grid;
    grid-template-columns:50% 50%;
    background-color: white;
    margin-top: 50px;
    padding: 50px 0px 50px 30px;
}
input{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    background-color: #ececec;
    border: none;
    padding-left: 5px;
}
input:focus{
   outline: none;
}
#submit{
    width: 100%;
    color: white;
    background-color: black;
}
.cont{
    padding-bottom: 30px;
}
.section-one{
    background-color: #e6f6fc;
    padding: 50px 5% 100px 5%;
}
.sec-one-right{
    display: flex;
    align-items: center;
    padding: 0px 2% 0px 5%;
    /* padding-left: 5%; */
}
footer{
    background-color: #03141e;
}
.footer-nav span{
    padding-right: 30px;
}
.footer-nav a{
    text-decoration: none;
    color: white;
}
footer hr{
    color: white;
}

@media screen and (max-width:992px){
    main{
        padding: 125px 0px 140px 40px;
    }
    .section-one{
        padding: 40px 5% 60px 5%;
    }
    input{
        width: 95%; 
    }
    form{
        padding: 25px 5px 50px 15px;
        grid-template-columns: 50% 50%;
    }
    .sec-one-right{
        padding: 0% 0% 0px 5%;
    }
}
@media screen and (max-width:600px){
    .navbar-brand img{
        padding-left: 30px;
    }
    main{
        padding: 70px 0px 70px 30px;
    }
    form{
        grid-template-columns: 100%;
        margin-top: 25px;
        padding: 25px 5px 50px 25px;
    }
    .section-one{
        padding: 30px 5% 60px 5%;
    }
    input{
        width: 95%;
        border-radius: 10px;
    }
    .sec-one-right{
        padding: 10% 2% 0px 5%;
    }
}