*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: #faffeb;
}
.navbar-brand img{
    height: 50px;
    padding-left: 50px;
}
.navbar-toggler-icon {
    background-color: transparent !important;
  }
  
.navbar-toggler-icon i {
    color:#01a6dd !important; 
  }
  .navlink{
    color: white;
}
.navlink:hover{
    color: #01a6dd;
} 
.informationcont a{
    padding: 7px 35px 7px 35px;
    border-radius: 10px;
}
main{
    padding: 150px 0px 180px 60px;
    background-image: url(../IMAGES/background-image\ resized.png);
    background-size: cover;
    background-position: center;
}
main h3{
    color: white;
    font-weight: bolder;
    font-size: 40px;
}
.sec-one-child{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-column-gap: 20px ;
    padding-left: 20px;
}
.left{
    padding: 80px 40px 50px 80px;
}
.right{
    padding:5%;
}
.right img{
    width: 80%;
    height: 450px;
}

article{
    padding: 100px 0px 100px 0px;
    background-image: url(../IMAGES/image-6.png);
    background-size: cover;
    background-position: center;
}
.article p a{
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
}
.sec-two-left{
    padding: 80px 20px 10px 80px;
}
.sec-two-left img{
    width: 100%;
    border-radius: 10px;
}
.sec-two-right{
    padding: 80px 80px 10px 20px;
}
.sec-two-right img{
    width: 80%;
}
footer{
    background-color: #03141e;
    margin-top: 50px;
}
.footer-nav span{
    padding-right: 30px;
}
.footer-nav a{
    text-decoration: none;
    color: white;
}
footer hr{
    color: white;
}

@media screen and (max-width:992px){
    main{
        padding: 125px 0px 140px 40px;
    }
    .section-one{
        margin-top: 30px;
    }
    .left{
        padding: 40px 20px 25px 40px;
    }
    .right{
        padding:3%;
    }
    .right img{
        width: 100%;
    }
    .cont p img{
         width: 40px;
    }
    .article{
        margin-top: 30px;
    }
    .sec-two-left{
        padding: 40px 10px 5px 40px;
    }
    .sec-two-right{
        padding: 40px 40px 5px 10px;
    }
    .sec-two-right img{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .navbar-brand img{
        padding-left: 30px;
    }
    main{
        padding: 70px 0px 70px 30px;
    }
    main h3{
        font-size: 30px;
    }
    .left{
        padding: 20px 20px 15px 30px;
    }
    .sec-one-child{
        padding-top: 20px;
        grid-column-gap: 40px ;
    }
    article{
        padding: 50px 20px 30px 20px;
    }
    .sec-two-left{
        padding: 40px 20px 5px 20px;
    }
    .sec-two-right{
        padding: 20px 20px 5px 20px;
    }
}